.tabs {
   width: 30%;
   height: 200px;
   margin: 2rem auto;
   border: 1px solid rgb(153, 150, 150);
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   &__controls {
      display: flex;
   }
   &__control {
      text-transform: uppercase;
      cursor: pointer;
      width: 50%;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      outline: none;
      padding: 1rem;
      &_active {
         background-color:rgb(151, 148, 148);
      }
   }
   &__content-item {
      font-size: 1.2rem;
      padding: 10px;
      display: none;
      min-height: 200px;
      &_active {
         display: inherit;
      }
   }
}